/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1a1e23;
    font-family: 'Arial', sans-serif;

    main {
        flex-grow: 1;
    }
}

html {
    font-size: 62.5%; // So that 1rem = 10px
    overflow-y: scroll;
}

body {
    font-size: 1.4rem;
}
